/* Import Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  background-color: #faa2a5;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* overflow-x: hidden;  */
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header img {
  width: 10vw;
  height: 13vh;
}
.nav a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  margin-left: 5vw;
  --b: 0.1em;   /* the thickness of the line */
  --c: #b61d34; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.nav a:hover {
   --_p: 100%;
  --_s: .3s;
}
.openbtn,.sidepanel {
  display: none;
}
.mobile{
  display: none;
}
.text {
  position: Absolute;
  /* center it */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
}
.text {
  pointer-events: none;
}
.text h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.text p {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.parallex {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.parallex img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* About us section */
.aboutus {
  background-color: #95485d;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 100px;
  padding: 100px 100px 100px 100px;
}
.aboutus h1 {
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
}
.aboutus h2 {
  font-size: 2rem;
  color: #fff;
}
.aboutus p {
  font-size: 1rem;
  color: #fffacd;
}
.aboutus-content-item{
  
  padding-top: 5vh;
}
.content-animation-backward {
  opacity: 0;
  transform: translateX(-100%);
  animation: slide 1s ease-in forwards;
  animation-delay: 0.5s; /* Adjust the delay as needed */
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.content-animation-forward{
  opacity: 0;
  transform: translateX(100%);
  animation: slide 1s ease-in forwards;
  animation-delay: 0.5s; /* Adjust the delay as needed */
}
@keyframes slide {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Clients section */
.clients {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
  padding: 100px 100px 100px 100px;
  background-color: #ffcc99;
}
.clients .about-client {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}
.about-client h1{
  font-size: 4rem;
  font-weight: bold;
  color: #000000;
}
.about-client p {
  font-size: 1rem;
  color: #000000;
}
.clients img {
  width: 200px;
  height: 100%;
  margin: 2vw;
}
.clients img:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

/* Projects Section */
.projects {
  position: relative;
  background: white;
}
.gridywrap div[class*=gridy] {
  background: #eee;
  box-shadow: inset 0 0 0 1px #ddd;
  padding: 15px; float: left;
  position: relative;
}
.gridywrap .gridy-1,
.gridywrap .gridy-2,
.gridywrap .gridy-3 {width: 320px;
  overflow: hidden;}

.gridywrap .gridy-1 {width: 100%;}
.gridywrap .gridy-2 {width: 100%;}
.gridywrap .gridy-3 {width: 100%;}

.gridywrap .gridyhe-1 {height: 320px;}
.gridywrap .gridyhe-2 {height: 320px;}


@media screen and (min-width: 640px) {
  .gridywrap .gridyhe-2 {height: 320px;}
  .gridywrap {
    width: 100%;
  }
  .gridywrap .gridy-1 {width: 50%;}
  .gridywrap .gridy-2 {width: 50%;}
  .gridywrap .gridy-3 {width: 100%;}
}
@media screen and (min-width: 1024px) {
  .gridywrap .gridy-1 {width: 33.3%;}
  .gridywrap .gridy-2 {width: 66.6%;}
  .gridywrap .gridy-3 {width: 100%;}
  .gridywrap .gridyhe-2 {height: 640px;}
}

/*styling*/
.gridywrap .gridimg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}
.gridywrap .gridimg img {
  width: 100%;
}
.gridywrap .gridinfo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  text-align: center;
  transition: all 0.8s;
}
.gridywrap .gridinfo h3 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 130px 0 20px;
  position: relative;
}
.gridywrap .gridinfo h3:after {
  content: '';
  width: 25px;
  border-top: 4px solid #fff;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}
.gridywrap .gridinfo .gridmeta {
  transition-delay: 0.25s;
}
.gridywrap .gridinfo .gridmeta p {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  margin-bottom: 15px;
}
.gridywrap .gridinfo .gridmeta p i {
  margin-right: 5px;
}
.gridywrap .gridinfo .gridmeta p.gridwho {
  margin-left: 25px;
}
.gridywrap .gridinfo p.gridexerpt {
  width: 60%;
  margin: 0 auto;
  line-height: 22px;
  margin-bottom: 25px;
  color: #fff;
  transition-delay: 0.5s;
}

.gridywrap .gridinfo * {
  opacity: 0;
  transition: all 0.8s;
}
.gridywrap .gridinfo h3 {
  opacity: 1;
}
.gridywrap .gridinfo .grid-btn {
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 25px;
  border: 1px solid #fff; 
  display: block;
  overflow: hidden;
}
.gridywrap .gridinfo .grid-btn:hover {
  width: 75px;
  background: rgba(0,0,0,0.3);
}
.gridywrap .gridinfo .grid-btn span {
  opacity: 0;
  display: none;
  transition: opacity 0.8s;
}
.gridywrap .gridinfo .grid-btn:hover span {
  opacity: 1;
  display: inline;
}
.gridywrap .gridinfo .grid-btn:hover i {
  opacity: 0;
  display: none;
}

.gridywrap .gridinfo:hover * {
  opacity: 0.7;
}
.gridywrap .gridinfo:hover p {
  opacity: 1;
}
.gridywrap .gridinfo:hover {
  background: rgba(158, 12, 73, 0.7);
}
.gridywrap .gridinfo:hover h3 {
  margin-top: 70px;
  opacity: 1;
}

.intro {
  text-align: center;
  padding: 25px;
  background: #111;
  color: #ddd;
}
h1 {
  font-size: 48px;
  font-weight: 300;
  padding: 15px 0;
}
.intro p {
  opacity: 0.5;
  font-size: 12px;
}
.intro p a {
  color: #FA8CD3;
}


/* Service */
.service{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 6\5vw;
  background-color: #ff3d43;
  padding: 100px 100px 100px 100px;
}
.service-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.service-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  row-gap: 50px;
}
.service-content h1{
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
}
.service-content p{
  font-size: 1rem;
  color: #f0f0f0;
}
.service-item-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}
.service-item-list h2{
  font-size: 1.4.7rem;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
}
.service-item-list p{
  font-size: 1rem;
  color: #f0f0f0;
  text-align: center;
}
.service-item-list i{
  color: white;
  font-size: 2.5rem;
}


/* Contact */
.contact-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding: 50px;
  background-color: #333;
  color: #fff;
  width: 100%;
}
.contact-section div{
  width: 33%;
  row-gap: 20px;
}
.contact-info{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  font-size: 1.5rem;
  width: 30%;
}
.input-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.input-group input,
.input-group textarea {
  display: block;
  padding: 15px;
  border: 0;
  outline: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  color: #fff;
  transition: border-bottom 0.3s ease;
  width: 100%;
}

.input-group label {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
  pointer-events: none;
  transition: 0.3s ease;
}

.input-group input:focus,
.input-group textarea:focus {
  border-bottom: 2px solid #ff3d43;
  box-shadow:  5px rgba(255, 61, 67, 0.5);
}

.input-group input:focus ~ label,
.input-group textarea:focus ~ label {
  top: -5px;
  left: 0;
  color: #ff3d43;
  font-size: 12px;
}
.contact-form button {
  padding: 10px 20px;
  background-color: #ff3d43;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
}
.map-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
}
.socials{
  display:none;
}
.social{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social a{
  font-size: 2rem;
  color: #fff;
}
.social a:hover{
  color: #ff3d43;
  transition: 0.5s;
}


/* footer */

.footer-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

/* Reponsive */
@media (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  *{
    box-sizing: border-box;
    max-width: 100%;
  }
  /* Header */
  header {
    padding: 10px 20px; /* Adjust padding for smaller screens */
  }

  header img {
    width: 30vw; /* Adjust logo size for smaller screens */
    height: auto;
  }
  .nav{
    display: none;
  }
  /* unhide .openbtn and .sidepanel */
  .openbtn,.sidepanel {
    display: block;
  }
  .mobile-content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  /* .mobile-content{
    background-image: url('assets/bg2-mobile.svg');
  } */
  .mobile{
    height: 70vh;
    display: block;
    position: relative;
    padding: 150px 20px;
  }
  .mobile-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .mobile-content h1{
    font-size: 3rem;
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    z-index: 1;
  }
  .mobile-content p{
    font-size: 1rem;
    color: #000000;
    text-align: center;
    z-index: 1000;
  }
  .sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 300px;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
}

.sidepanel a {
  padding: 8px 8px 10px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: relative;
  top: 0;
  left: 0;
  font-size: 36px;
}
.openbtn{
  font-size: 20px;
  cursor: pointer;
  color: #111;
  background-color: transparent;
  padding: 10px 15px;
  border: none;
}
.parallex{
  display: none;
}
  /* Text */
  .text h1 {
    font-size: 2rem; /* Reduce font size for heading */
  }

  .text p {
    font-size: 1rem; /* Reduce font size for paragraph */
  }

  /* About Us */
  .aboutus {
    flex-direction: column; /* Stack content vertically */
    height: auto; /* Remove fixed height */
    padding: 50px 20px; /* Adjust padding */
  }

  /* Clients */
  .clients {
    flex-direction: column; /* Stack content vertically */
    height: auto; /* Remove fixed height */
    padding: 50px 20px; /* Adjust padding */
  }

  .clients img {
    width: 150px; /* Reduce image size */
  }

  /* Projects */
  .gridywrap .gridy-1,
  .gridywrap .gridy-2,
  .gridywrap .gridy-3 {
    width: 100%; /* Make all grid items full width */
  }

  /* Service */
  .service {
    flex-direction: column; /* Stack content vertically */
    height: auto; /* Remove fixed height */
    padding: 50px 20px; /* Adjust padding */
  }

  .service-item-list {
    width: 100%; /* Make service item lists full width */
  }

  /* Contact */
  .contact-section{
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
  }
  .contact-section div{
    width: 100%;
  }
  .contact-form{
    padding: 20px;
  }
  .contact-info{
    width: 100%;
  }
  .map-container{
    padding: 20px;
  }
  .social{
    display: none;
  }
  .socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .socials a{
    font-size: 2rem;
    color: #fff;
  }
}